{% extends 'layout.html' %}
{% block content %}
    <h1>Lisa uus raamat</h1>
    <form method="post" action="#">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label() }}
            {{ form.title() }}
        </p>
        <p>
            {{ form.author.label() }}
            {{ form.author() }}
        </p>
        <p>
            {{ form.location.label() }}
            {{ form.location() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}