{% extends 'layout.html' %}
{% block content %}
    <h1>{{ book.title }}</h1>
    <p>Autor: {{ book.author }}</p>
    <p>Asukoht: Riiul {{ book.location }}</p>
    <p>Seis:</p>
        {% if book.lender_id %}
            <p>Välja laenutatud kasutajale {{ book.lender }}</p>
            <p>Tagastamise tähtaeg: {{ book.deadline }}</p>
        {% endif %}
        {% if book.availability() > 0 %}
            <p>Saadaval ({{ book.availability() }})</p>
            <p>Laenutuse pikkus: {{ book.time_limit() }} nädalat</p>
        {% endif %}
    <br>
    {% if current_user.admin %}
        <p><a href="{{ url_for('books.delete_book', book_id=book.id) }}">Kustuta raamat</a></p>
    {% else %}
        {% if book.lender_id %}
            <p><a href="{{ url_for('books.return_book', book_id=book.id) }}">Võta raamat vastu</a></p>
        {% else %}
            <p><a href="{{ url_for('books.lend_book', book_id=book.id) }}">Laenuta raamat välja</a></p>
        {% endif %}
    {% endif %}
{% endblock %}