{% extends 'layout.html' %}
{% block content %}
    <h1>Raamatukogu</h1>
    {% if user %}
        <p><a href="/logout">Logi välja</a></p>
    {% else %}
        <p><a href="/login">Logi sisse</a></p>
    {% endif %}
    <p><a href="/status">Raamatukogu üldine seis</a></p>
    {% if user %}
        <br>
        <p>Raamatu otsing</p>
        {%  if user == 'admin' %}
            <p><a href="/add_book">Lisa uus raamat</a></p>
        {% endif %}
        <p>Laenutaja otsing</p>
        <p><a href="/add_lender">Lisa uus laenutaja</a></p>
        <br>
        <p>Üle aja läinud laenutajad</p>
    {% endif %}
{% endblock %}