{% extends 'layout.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    {% if book %}
        <p>Raamat: {{ book }}</p>
    {% endif %}
    {% if lender %}
        <p>Raamatut tagastab laenutaja {{ lender }}</p>
    {% endif %}
    <form method="post" action="#">
        {{ form.hidden_tag() }}
        {% if form.name %}
            <p>{{ form.name.label() }}:</p>
            <p>{{ form.name() }}</p>
        {% endif %}
        {% if form.surname %}
            <p>{{ form.surname.label() }}:</p>
            <p>{{ form.surname() }}</p>
        {% endif %}
        {% if form.code %}
            <p>{{ form.code.label() }}:</p>
            <p>{{ form.code() }}</p>
        {% endif %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}