{% extends 'layout.html' %}
{% block content %}
    <h1>Üle aja läinud laenutajad</h1>
    <table>
    <tr>
        <th>Laenutaja</th>
        <th>Raamat</th>
        <th>Tähtaeg</th>
        <th>Üleläinud aeg</th>
    </tr>
    {% for book in books %}
        <tr>
            <td>{{ book.lender }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.deadline }}</td>
            <td>{{ book.overtime() }} päeva</td>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}