{% extends 'layout.html' %}
{% block content %}
    <h1>Raamatukogu üldine seis</h1>
    <table>
    <tr>
        <th>Raamat</th>
        <th>Autor</th>
        <th>Saadaval eksemplare</th>
        <th>Laenutuse pikkus</th>
        <th>Asukoht</th>
    </tr>
    {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td></td>
            <td></td>
            <td>Riiul {{ book.location }}</td>
        </tr>
    {% endfor %}
    </table>
    <p><a href="/">Tagasi esilehele</a></p>
{% endblock %}